/**************************************
 **  Default CSS
 **************************************/

body {
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: 'Nunito Sans', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

button {
	outline: 0 !important;
}

dl, ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.d-table {
	width: 100%;
	height: 100%;
}

.d-table-cell {
	vertical-align: middle;
}

.ptb-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.pb-50 {
	padding-bottom: 50px;
}
.pb-70 {
	padding-bottom: 70px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pt-50 {
	padding-top: 50px;
}
.pt-70 {
	padding-top: 70px;
}
.pt-100 {
	padding-top: 100px;
}

.bg-grey {
	background-color: #fafbfc;
}

.section-padding {
	padding: 100px 0;
}

a {
	text-decoration: none;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	outline: 0 !important;
	color: #0b0b31;
}

a:hover {
	text-decoration: none;
	color: #7b68ee;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.4;
	font-family: 'Nunito Sans', sans-serif;
}

p {
	font-size: 15px;
	line-height: 1.8;
	color: #5f5f5f;
	margin-bottom: 15px;
	font-weight: 400;
	letter-spacing: 0.3px;
	font-family: 'Nunito Sans', sans-serif;
}

p:last-child {
	margin-bottom: 0;
}

.default-btn {
	border: none;
	position: relative;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	color: #ffffff;
	background-color: #7b68ee;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 3px;
	font-weight: 600;
	font-size: 15px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	box-shadow: 0 7px 25px rgb(123,104,238,0.25);
}

.default-btn span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #3e57d0;
	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 30px;
}

.default-btn:hover, .default-btn:focus {
	color: #ffffff;
}

.default-btn:hover span, .default-btn:focus span {
	width: 225%;
	height: 562.5px;
}

.default-btn-one {
	border: none;
	position: relative;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	color: #7b68ee;
	background-color: #ffffff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 3px;
	font-weight: 600;
	font-size: 15px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 5px;
	margin-right: 20px;
	box-shadow: 0 7px 25px rgb(123,104,238,0.25);
}

.default-btn-one span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #3e57d0;
	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 30px;
}

.default-btn-one:hover, .default-btn-one:focus {
	color: #ffffff;
}

.default-btn-one:hover span, .default-btn-one:focus span {
	width: 225%;
	height: 562.5px;
}

.section-title {
	text-align: center;
	margin-bottom: 65px;
	line-height: 1.5;
}

.section-title h6 {
	font-size: 16px;
	font-weight: 700;
	color: #FF9800;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.section-title h2 {
	font-size: 40px;
	color: #0b0b31;
	margin: 10px 0 0 0;
	font-weight: 800;
}

.color-text {
    color: #7b68ee;
}

.valign {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* [ Start Overlay ] */
[data-overlay-dark],
[data-overlay-light] {
	position: relative;
}

[data-overlay-dark] .container,
[data-overlay-light] .container {
	position: relative;
	z-index: 2;
}

[data-overlay-dark]:before,
[data-overlay-light]:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

[data-overlay-dark]:before {
	background: #02050b;
}

[data-overlay-light]:before {
	background: #fff;
}

[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-dark] span,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark span,
.bg-color h1,
.bg-color h2,
.bg-color h3,
.bg-color h4,
.bg-color h5,
.bg-color h6,
.bg-color span {
	color: #fff;
}

[data-overlay-dark] p,
.bg-dark p,
.bg-color p {
	color: #dad6d6;
}

[data-overlay-dark="0"]:before,
[data-overlay-light="0"]:before {
	opacity: 0;
}

[data-overlay-dark="1"]:before,
[data-overlay-light="1"]:before {
	opacity: .1;
}

[data-overlay-dark="2"]:before,
[data-overlay-light="2"]:before {
	opacity: .2;
}

[data-overlay-dark="3"]:before,
[data-overlay-light="3"]:before {
	opacity: .3;
}

[data-overlay-dark="4"]:before,
[data-overlay-light="4"]:before {
	opacity: .4;
}

[data-overlay-dark="5"]:before,
[data-overlay-light="5"]:before {
	opacity: .5;
}

[data-overlay-dark="6"]:before,
[data-overlay-light="6"]:before {
	opacity: .6;
}

[data-overlay-dark="7"]:before,
[data-overlay-light="7"]:before {
	opacity: .7;
}

[data-overlay-dark="8"]:before,
[data-overlay-light="8"]:before {
	opacity: .8;
}

[data-overlay-dark="9"]:before,
[data-overlay-light="9"]:before,
[data-overlay-color="9"]:before {
	opacity: .9;
}

[data-overlay-dark="10"]:before,
[data-overlay-light="10"]:before {
	opacity: 1;
}

/* [ End Overlay ] */

/*****************************************
 **  Go Top CSS
 ******************************************/
.go-top {
	position: fixed;
	cursor: pointer;
	top: 0;
	right: 15px;
	color: #ffffff;
	background-color: #7b68ee;
	z-index: 4;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .9s;
	transition: .9s;
	border-radius: 50%;
}

.go-top.active {
	top: 98%;
	-webkit-transform: translateY(-98%);
	transform: translateY(-98%);
	opacity: 1;
	visibility: visible;
}

.go-top i {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.go-top i:last-child {
	opacity: 0;
	visibility: hidden;
	top: 60%;
}

.go-top::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: #0b0b31;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

.go-top:hover, .go-top:focus {
	color: #ffffff;
}

.go-top:hover::before, .go-top:focus::before {
	opacity: 1;
	visibility: visible;
}

.go-top:hover i:first-child, .go-top:focus i:first-child {
	opacity: 0;
	top: 0;
	visibility: hidden;
}

.go-top:hover i:last-child, .go-top:focus i:last-child {
	opacity: 1;
	visibility: visible;
	top: 50%;
}

/**************************************
 **  Preloader Area CSS
 **************************************/

.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: transparent;
	top: 0;
	left: 0;
}

.preloader .loader {
	position: absolute;
	top: 43%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-43%);
	transform: translateY(-43%);
	text-align: center;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.preloader .loader .box {
	width: 100%;
	height: 100%;
	background: #ffffff;
	-webkit-animation: animate .5s linear infinite;
	animation: animate .5s linear infinite;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
}

.preloader .loader .shadow {
	width: 100%;
	height: 5px;
	background: #000000;
	opacity: 0.1;
	position: absolute;
	top: 59px;
	left: 0;
	border-radius: 50%;
	-webkit-animation: shadow .5s linear infinite;
	animation: shadow .5s linear infinite;
}

.preloader::before, .preloader::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 60%;
	height: 100%;
	z-index: -1;
	background: #7b68ee;
	-webkit-transition: .9s;
	transition: .9s;
}

.preloader::after {
	left: auto;
	right: 0;
}

.preloader.preloader-deactivate {
	visibility: hidden;
}

.preloader.preloader-deactivate::after, .preloader.preloader-deactivate::before {
	width: 0;
}

.preloader.preloader-deactivate .loader {
	opacity: 0;
	visibility: hidden;
}

@-webkit-keyframes loader {
	0% {
		left: -100px;
	}

	100% {
		left: 110%;
	}
}

@keyframes loader {
	0% {
		left: -100px;
	}

	100% {
		left: 110%;
	}
}

@-webkit-keyframes animate {
	17% {
		border-bottom-right-radius: 3px;
	}

	25% {
		-webkit-transform: translateY(9px) rotate(22.5deg);
		transform: translateY(9px) rotate(22.5deg);
	}

	50% {
		-webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}

	75% {
		-webkit-transform: translateY(9px) rotate(67.5deg);
		transform: translateY(9px) rotate(67.5deg);
	}

	100% {
		-webkit-transform: translateY(0) rotate(90deg);
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes animate {
	17% {
		border-bottom-right-radius: 3px;
	}

	25% {
		-webkit-transform: translateY(9px) rotate(22.5deg);
		transform: translateY(9px) rotate(22.5deg);
	}

	50% {
		-webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}

	75% {
		-webkit-transform: translateY(9px) rotate(67.5deg);
		transform: translateY(9px) rotate(67.5deg);
	}

	100% {
		-webkit-transform: translateY(0) rotate(90deg);
		transform: translateY(0) rotate(90deg);
	}
}

@-webkit-keyframes shadow {
	50% {
		-webkit-transform: scale(1.2, 1);
		transform: scale(1.2, 1);
	}
}

@keyframes shadow {
	50% {
		-webkit-transform: scale(1.2, 1);
		transform: scale(1.2, 1);
	}
}

/**************************************
 **  Navbar Area CSS
 **************************************/

.advertsea-responsive-nav {
	display: none;
}

.advertsea-nav {
	background-color: transparent;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}

.advertsea-nav .navbar {
	padding-right: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
}

.advertsea-nav .navbar ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

.advertsea-nav .navbar .mean-menu {
	display: flex;
	justify-content: flex-end;
}

.advertsea-nav .navbar .navbar-nav .nav-item {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
}

.advertsea-nav .navbar .navbar-nav .nav-item a {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	text-transform: capitalize;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 15px;
	margin-right: 15px;
}

.advertsea-nav .navbar .navbar-nav .nav-item a:hover, .advertsea-nav .navbar .navbar-nav .nav-item a:focus, .advertsea-nav .navbar .navbar-nav .nav-item a.active {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item a i {
	font-size: 10px;
	position: relative;
	top: -1px;
	margin-left: 1px;
}

.advertsea-nav .navbar .navbar-nav .nav-item:last-child a {
	margin-right: 0;
}

.advertsea-nav .navbar .navbar-nav .nav-item:first-child a {
	margin-left: 0;
}

.advertsea-nav .navbar .navbar-nav .nav-item:hover a, .advertsea-nav .navbar .navbar-nav .nav-item:focus a, .advertsea-nav .navbar .navbar-nav .nav-item.active a {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	position: absolute;
	border: none;
	top: 80px;
	left: 0;
	width: 230px;
	z-index: 99;
	display: block;
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 0px;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
	padding: 0;
	border-bottom: 1px solid #f1f1f1;
}
.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child {
	border-bottom: 0px solid transparent;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
	text-transform: capitalize;
	padding: 10px 15px;
	margin: 0;
	position: relative;
	color: #0b0b31;
	font-size: 15.5px;
	font-weight: 500;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
	color: #7b68ee;
	background: #f9f9f9;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	left: -245px;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
	color: #696997;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: -245px;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: -245px;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 195px;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 195px;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 195px;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #696997;
	text-transform: capitalize;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: -15px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: -15px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: -15px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: -15px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: -15px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
	color: #7b68ee;
}

.advertsea-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: -15px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.advertsea-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: 100%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.advertsea-nav .navbar .other-option {
	margin-left: 0;
	margin-top: 5px;
}

.advertsea-nav .navbar .other-option .default-btn.seo-btn {
	padding: 10px 25px;
	font-size: 15px;
	background-color: transparent;
	border: 2px solid #7b68ee;
	color: #7b68ee;
}

.advertsea-nav .navbar .other-option .default-btn.seo-btn:hover {
	background-color: #7b68ee;
	color: #ffffff;
}

.advertsea-nav .black-logo {
	display: none;
}

.navbar-area {
	background-color: transparent;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.navbar-area.is-sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	background: #ffffff !important;
	-webkit-animation: 500ms ease-in-out 0s normal fadeInDown;
	animation: 500ms ease-in-out 0s normal fadeInDown;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.navbar-area.is-sticky .navbar-nav .nav-item a {
	color: #505050;
}

.navbar-area.is-sticky .navbar-nav .nav-item a:hover, .navbar-area.is-sticky .navbar-nav .nav-item a:focus, .navbar-area.is-sticky .navbar-nav .nav-item a.active {
	color: #7b68ee;
}

.navbar-area.is-sticky .advertsea-nav .navbar-brand .white-logo {
	display: none;
}

.navbar-area.is-sticky .advertsea-nav .navbar-brand .black-logo {
	display: block;
}

@media only screen and (max-width: 991px) {
	.navbar-area {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar-area.is-sticky {
		border-bottom: none;
		-webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar-area.is-sticky .logo .white-logo {
		display: none;
	}

	.navbar-area.is-sticky .logo .black-logo {
		display: block;
	}

	.advertsea-responsive-nav {
		display: block;
	}

	.advertsea-responsive-nav .advertsea-responsive-menu {
		position: relative;
	}

	.advertsea-responsive-nav .advertsea-responsive-menu.mean-container .mean-nav ul {
		font-size: 15px;
	}

	.advertsea-responsive-nav .advertsea-responsive-menu.mean-container .mean-nav ul li a {
		font-size: 15px;
	}

	.advertsea-responsive-nav .advertsea-responsive-menu.mean-container .mean-nav ul li a.active {
		color: #7b68ee;
	}

	.advertsea-responsive-nav .advertsea-responsive-menu.mean-container .mean-nav ul li li a {
		font-size: 15px;
	}

	.advertsea-responsive-nav .advertsea-responsive-menu.mean-container .navbar-nav {
		overflow-y: scroll;
		height: 300px;
		-webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
	}

	.advertsea-responsive-nav .advertsea-responsive-menu.mean-container .others-options {
		display: none;
	}

	.advertsea-responsive-nav .mean-container a.meanmenu-reveal {
		color: #0b0b31;
	}

	.advertsea-responsive-nav .mean-container a.meanmenu-reveal span {
		background: #0b0b31;
	}

	.advertsea-responsive-nav .logo {
		position: relative;
		width: 50%;
		z-index: 999;
	}

	.advertsea-responsive-nav .logo .white-logo {
		display: block;
	}

	.advertsea-responsive-nav .logo .black-logo {
		display: none;
	}

	.advertsea-nav {
		display: none;
	}
}

/**************************************
 **  Home + Slider Area CSS
 **************************************/
.home-area {
	overflow: hidden;
	position: relative;
	z-index: 1;
	height: 800px;
	background: -webkit-gradient(linear, left top, left bottom, from(#370b6f), color-stop(#00429b), color-stop(#006dba), color-stop(#0095ce), to(#2dbcdc));
	background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
}

.main-banner-content h1 {
	font-size: 55px;
	color: #ffffff;
	margin: 0 0 20px 0;
	font-weight: 700;
}

.main-banner-content p {
	color: #ffffff;
	font-size: 16px;
	margin: 0 0 0 0;
}

.main-banner-content .banner-btn {
	margin-top: 25px;
}

.home-area .banner-image {
    text-align: center;
    padding-top: 50px;
}

.home-area .creative-shape {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}



/**************************************
 **  Overview Section CSS
 **************************************/

.overview-content h6 {
	font-size: 16px;
	font-weight: 700;
	color: #FF9800;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.overview-content h2 {
	font-size: 38px;
	color: #0b0b31;
	margin: 8px 0 15px 0;
}

.overview-content p {
	margin: 0 0 0 0;
}

.list-wrap{
	margin-top: 24px;
	display: flex;
 }

.overview-content .features-list {
	display: inline-block;
	width: calc(50% - 2px);
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

.overview-content .features-list li {
	max-width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

.overview-content .features-list:nth-child(2n-1) li{
	padding-left: 0;
}

.overview-content .features-list:nth-child(2n){
	padding-right: 0;
}

.overview-content .banner-btn{
	margin-top: 24px;
}

.overview-content .features-list li span {
	display: block;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 15px 15px;
	z-index: 1;
	position: relative;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	color: #0b0b31;
	border-left: 2px solid #7b68ee;
	font-weight: 600;
	font-size: 18px;
	-webkit-box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
	box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
}

.overview-content .features-list li span::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	border-radius: 3px;
	background-color: #7b68ee;
	z-index: -1;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.overview-content .features-list li span:hover {
	color: #ffffff;
}

.overview-content .features-list li span:hover::before {
	width: 100%;
}

.overview-image {
	text-align: center;
}


/**************************************
 **  Hire Section CSS
 **************************************/
.hire-section {
	position: relative;
	z-index: 1;
	background-image: url(../img/banner-bg.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 70px 0;
}

.hire-section::before {
	content: "";
	position: absolute;
    z-index: -1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #03030c;
	opacity: 0.6;
}

.hire-content h6 {
	font-size: 16px;
	font-weight: 700;
	color: #FF9800;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.hire-content h2 {
	font-size: 38px;
	color: #fff;
	margin: 0;
	font-weight: 700;
}

.hire-content p {
	color: #fff;
	font-size: 18px;
	margin: 20px 0 0 0;
}

.hire-content .hire-btn {
	margin-top: 20px;
}

.hire-content .hire-btn .default-btn {
    margin-right: 15px;
}


/**************************************
 **  404 Error Page Area CSS
 **************************************/
.error-area {
	height: 100vh;
}

.error-content {
	text-align: center;
	margin: 0 auto;
	max-width: 700px;
}

.error-content h3 {
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 18px;
}

.error-content p {
	max-width: 520px;
	margin: 0 auto 20px;
	line-height: 30px;
}

.error-content .default-btn-one {
	display: inline-block;
	padding: 12px 30px;
	background: #7b68ee;
	border: 2px solid #7b68ee;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	-webkit-transition: .6s;
	transition: .6s;
	margin-right: 0;
}

.error-content .default-btn-one:hover {
	text-decoration: none;
	background-color: #ffffff;
	color: #7b68ee;
}



/*********************************************************************
 **  Terms & Conditions - Privacy Policy Page Section CSS
 *********************************************************************/
.single-privacy h3 {
	font-size: 20px;
	margin: 0 0 12px 0;
}

/*****************************************
 **  All Page Footer Section CSS
 ******************************************/
.footer-subscribe-wrapper {
	position: relative;
	z-index: 1;
	background-color: #1c1c23;
}

.footer-heading {
	margin-bottom: 25px;
}

.footer-heading h3 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	margin: 0 0 0 0;
	position: relative;
	border-bottom: 1px solid #777;
	padding-bottom: 10px;
}

.single-footer-widget .footer-social {
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 20px;
}

.single-footer-widget .footer-social li {
	display: inline-block;
	margin-right: 10px;
}

.single-footer-widget .footer-social li:last-child {
	margin-right: 0;
}

.single-footer-widget .footer-social i {
	display: inline-block;
	height: 35px;
	width: 35px;
	line-height: 35px;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 50px;
	color: #7b68ee;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	text-align: center;
}

.single-footer-widget .footer-social i::before {
	font-size: 15px;
}

.single-footer-widget .footer-social i:hover {
	background-color: #7b68ee;
	color: #ffffff;
	border: 1px solid #7b68ee;
}

.single-footer-widget p {
	font-size: 15px;
	color: #ececec;
	font-weight: 400;
}

.single-footer-widget .footer-heading {
	margin-bottom: 25px;
}

.single-footer-widget .footer-heading h3 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 700;
	margin: 0 0 0 0;
}

.single-footer-widget .footer-quick-links {
	padding-left: 0;
	margin-bottom: 0;
}

.single-footer-widget .footer-quick-links li {
	list-style-type: none;
	padding-bottom: 18px;
}

.single-footer-widget .footer-quick-links li:last-child {
	padding-bottom: 0;
}

.single-footer-widget .footer-quick-links li a {
	display: inline-block;
	color: #ececec;
	font-size: 15px;
	font-weight: 400;
}

.single-footer-widget .footer-quick-links li a:hover {
	color: #7b68ee;
	text-decoration: underline !important;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.single-footer-widget .footer-info-contact {
	position: relative;
	padding-left: 35px;
	margin-bottom: 16px;
}

.single-footer-widget .footer-info-contact:last-child {
	margin-bottom: 0;
}

.single-footer-widget .footer-info-contact i {
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 0px;
}

.single-footer-widget .footer-info-contact i::before {
	font-size: 20px;
}

.single-footer-widget .footer-info-contact h3 {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	margin: 0 0 10px 0;
}

.single-footer-widget .footer-info-contact span {
	font-size: 15px;
	color: #ececec;
	font-weight: 400;
}

.single-footer-widget .footer-info-contact span a {
	font-size: 15px;
	color: #ececec;
	font-weight: 400;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.single-footer-widget .footer-info-contact span a:hover {
	color: #7b68ee;
}

/*****************************************
 ** Page Copyright Section CSS
 ******************************************/
.copyright-area {
	background-color: #212129;
	padding: 35px 0;
}

.copyright-area p {
	color: #ececec;
	font-size: 15px;
}

.copyright-area p a {
	color: #ececec;
	display: inline-block;
	font-weight: 600;
}

.copyright-area p a:hover {
	color: #7b68ee;
}

.copyright-area ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	text-align: right;
}

.copyright-area ul li {
	display: inline-block;
	color: #ececec;
	font-size: 15px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.copyright-area ul li a {
	display: inline-block;
	color: #ececec;
}

.copyright-area ul li a:hover {
	color: #7b68ee;
}

.copyright-area ul li::before {
	content: '';
	position: absolute;
	top: 5px;
	right: -13px;
	width: 1px;
	height: 14px;
	background-color: #ffffff;
}

.copyright-area ul li:last-child {
	margin-right: 0;
}

.copyright-area ul li:last-child::before {
	display: none;
}

.copyright-area ul li:first-child {
	margin-left: 0;
}